<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="cnrstr" connectionString="server=9d1b649d-ee89-4be3-bc59-a4f50037f05b.mysql.sequelizer.com;database=db9d1b649dee894be3bc59a4f50037f05b;uid=csbpmetqjiaiihjv;pwd=aU5jMAYBjWT8h54nPrbD4N2RmEvGZjWFm2xAyeDaoanB6b4gLq4hsgou2n6gfqJ8" />
<connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="validationsettings:unobtrusivevalidationmode" value="none"/>
  </appSettings>

</configuration>
